lightning==2.3.0
pytorch_lightning==2.3.0
torch==2.3.0
torchaudio==2.3.0
numba==0.60.0
fast_bss_eval
ffmpeg_python
huggingface_hub
ipython
librosa
lightning_utilities
matplotlib
memory_profiler
modelscope
numpy
omegaconf
onnxruntime
opuslib
packaging
pandas
pedalboard
pydub
pyroomacoustics
pysndfx
pystoi
pytest
python_Levenshtein
pytorch_wavelets
PyYAML
Requests
rich
rir_generator
rootutils
scipy
setuptools
soundfile
torch_ema
torchmetrics
tqdm
transformers
webrtc_audio_processing
webrtcvad
